
.Northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.Southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(246, 255, 127);
}